.iti-mobile .iti__country-list {
    color: #000;
}

form .form-group input:not([type='checkbox']) {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 12px;
    border-radius: 2px;
    font-family: inherit;
    font-size: 100%;
    color: inherit;
}

form .form-group input:not([type='checkbox']) {
    background-color: #eee;
    color: #000;
}

form .form-group input:not([type='checkbox']),
select {
    border: 1px solid #CCC;
}

form .form-button {
    width: 100%;
    min-height: 40px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFF;
    background-color: #00faaa;
    border: 1px solid #00faaa;
}

.iti {
    width: 100%;
}

.iti__country-list {
    max-width: 350px;
}

.registration-form .form-group.even {
    margin: 15px 0;
}

.checkbox-wrap {
    display: flex;
    align-items: center;
}

.registration-form {
    max-width: 600px;
    margin: 0 auto;
}

form .form-group input:not([type=checkbox]).valid {
    background-color: #eaffe5;
    border: 1px solid #71ff50;
    background-image: none;
}

form .form-group input:not([type=checkbox]).invalid {
    background-color: #ffe3e3;
    border: 1px solid #ff5252;
    background-image: none;
}

button.form-button img {
    width: 24px;
    margin: 0 auto;
}

button.form-button[disabled] {
    opacity: .7;
    cursor: not-allowed;
}

button.form-button:not([disabled]) {
    cursor: pointer;
}

form .form-group .iti__flag-container {
    z-index: 9;
}

form .form-group .iti__selected-dial-code {
    color: #444444;
    font-weight: 400;
    font-size: 14px;
}

form .iti__flag-container:focus-visible,
form .iti__flag-container:focus {
    outline: none;
}

form .form-group input:not([type=checkbox]):focus {
    color: #000;
}

.iti__country-list {
    z-index: 999999
}

.form {
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    color: #fff;
    position: relative;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.1);
}

.form:before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: 0;
    filter: blur(10px);
    border-radius: 10px;
}

.form--title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0;
}

.form--top {
    margin: 0;
    padding: 3px 0 33px 0;
}

.form--title-yellow {
    color: #fafafa;
}

form {
    position: relative;
    top: auto;
}

.f1t-form-field {
    padding-bottom: 19px;
}

.f1t-form-field__label {
    display: none;
}

.f1t-form__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 50px;
    padding: 10px 20px;
    margin: 0 auto;
    color: #03e9f4;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    background: transparent;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    box-shadow: 0 0 5px var(--third-color), 0 0 15px var(--third-color), 0 0 20px var(--third-color), 0 0 30px var(--third-color);
    background: var(--third-color);
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 5px;
}

.f1t-form-field {
    position: relative;
}

.f1t-form-field__error {
    font-size: 12px;
    margin-top: 5px;
}

.f1t-form-field label {
    display: block;
}

.f1t-form-field input {
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    box-sizing: border-box;
    height: 37.7px;
    color: #fff;
    background-color: transparent;
    padding: 12px 30px 12px 10px;
    text-overflow: ellipsis;
    outline-style: none;
    transition: border-color 0.15s linear;
}

.f1t-form-field input:focus {
    border-color: #f70044;
}

.f1t-form-field input::placeholder {
    opacity: 0.7;
}

.iti--separate-dial-code .iti__selected-flag,
.iti--separate-dial-code .iti__selected-flag:hover {
    border-radius: 0;
    background-color: transparent;
}

.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag,
.iti__country.iti__highlight {
    background-color: transparent;
}

.iti__arrow {
    border-top-color: #fff;
}

.iti__country-name {
    color: #000;
}

.f1t-form-field--error input,
.f1t-form-field--error textarea,
.f1t-form-field--error select {
    border-color: red;
}

.f1t-form-field--phone input {
    padding-right: 6px;
    padding-left: 52px;
}

.f1t-modal__text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #000;
}

.f1t-modal__text p {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.f1t-modal {
    z-index: 100001;
}

@media (max-width: 575px) {
    .f1t-modal__text h3 {
        font-size: 20px;
    }
    .f1t-modal__text p {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .form {
        box-shadow: none;
        padding: 20px 15px;
        border: none;
    }
    .form--title {
        font-weight: 900;
        font-size: 32px;
        line-height: 37px;
    }
    .form--title br {
        display: none;
    }
}

@media (max-width: 425px) {
    .form--title {
        font-size: 26px;
        line-height: 30px;
    }
}

.form-div {
    max-width: 350px;
}