.trust {
    z-index: 1;
    position: relative;
    padding: 5vh 2vw;
    overflow: hidden;
}

.trust__title {
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 42px;
    text-shadow: 0 0 20px var(--accent-color);
}

.trust__content {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

.trust__list {
    display: flex;
    list-style-type: none;
    color: #fff;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    max-width: 600px;
}

.sert {
    border-radius: 5px;
    max-width: 100%;
    box-shadow: 10px 10px 10px var(--accent-color);
}

.sert-wrapper {
    position: relative;
    border-radius: 5px;
    max-width: 100%;
}

.sert-wrapper::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    border: 2px solid var(--accent-color);
    z-index: -1;
    border-radius: 5px;
}

.trust__list-item {
    position: relative;
    font-size: 20px;
}

.trust__list-item::before {
    content: "";
    position: absolute;
    left: -40px;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #d7ff0d;
    box-shadow: 0 0 4px #d7ff0d;
    border-radius: 15px;
}

.trust__content-item {
    max-width: 40%;
}

@media (max-width: 970px) {
    .trust__content {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .trust__list-item {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .trust__content-item {
        max-width: 90%;
    }
}