@font-face {
  font-family: "iconfont"; /* Project id 5107140 */
  src: url('iconfont.woff2?t=1767966530103') format('woff2'),
       url('iconfont.woff?t=1767966530103') format('woff'),
       url('iconfont.ttf?t=1767966530103') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gougou:before {
  content: "\e6a3";
}

.icon-line-bar:before {
  content: "\e620";
}

.icon-double-left-1:before {
  content: "\e615";
}

.icon-double-left:before {
  content: "\e616";
}

